mat-toolbar{
    width: 100%;
    background: black;
    color: white;
}
.example-icon {
    padding: 0 14px;
    cursor: pointer;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }
.imgProfile{
    width: 60%;
    height: 200px;
    margin: 10px 20% 5px; 
    border: 5px solid white;
}
.profile{
    width: 25%;
    height: 100vh;
    background: rgb(233, 233, 233);
    margin: 0;
    float: left;
}

.container{
    width: 100%;
}

table{
    width: 20%;
    font-size: 18px;
    border: 1px solid rgb(172, 170, 170);
    padding: 10px; 
    float: right; 
    margin: 50px 3% 0 0;
  }

td{
    margin:5px 40px 5px; 
    padding: 5px 15px 5px; 
    border-top: 2px solid rgb(172, 170, 170);

}

li{
    list-style:none;
    height: 15px;
    padding: 25px;
}

p{
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}

a{
    color: black;
    width: 100%;
    text-decoration:none;
}

li:hover{
    background: rgb(73, 73, 73);
    color:white;
}

img{
    width: 150px;
    height: 120px;
    border-radius: 100%;
}

ul{
    padding: 0;
    text-align: center;
    margin-top: 50px;
}

button{
    background: rgb(95, 95, 95);
    color: white;
}
