

  form{
      display: flex;
      justify-content: center;
      margin-top: 100px;
  }

  .example-container{
    background: rgb(255, 255, 255);
    padding: 60px;
    width: 30%;
    -webkit-box-shadow: 4px 6px 21px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 6px 21px 0px rgba(0,0,0,0.75);
    box-shadow: 4px 6px 21px 0px rgba(0,0,0,0.75);
  }

  mat-form-field{
    width: 100%;
    margin-bottom: 30px;
  }