

<form>
  <div class="example-container">
    <mat-form-field>
      <input matInput  placeholder="Correo Electronico" required>
      <mat-icon matSuffix class="material-icons"> alternate_email </mat-icon>
    </mat-form-field>
    <br>
    <mat-form-field>
        <input matInput placeholder="Contraseña" [type]=" hide ? 'text' : 'password' ">
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
    </mat-form-field>
    <br>
    <button mat-raised-button color="accent">Iniciar Sesión</button>
  </div>
</form>










<app-tabla-registro></app-tabla-registro>
<router-outlet></router-outlet>
